In [1]:
from pathlib import Path
import pandas as pd

path_aniversarios = Path(r'C:\Users\Wildn\OneDrive\Área de Trabalho\Ciencia de Dados\data\raw')
aniversarios_arquivo = 'aniversariantes.csv'

caminho_completo = path_aniversarios / aniversarios_arquivo

df = pd.read_csv(caminho_completo)

df.head

<bound method NDFrame.head of       UF  CODIGO_MUNICIPIO            NOME_MUNICIPIO  DIA  MES
0     AM            130080                     Borba    1    1
1     PA            150611                 Quatipuru    1    1
2     PA            150796                Terra Alta    1    1
3     TO            170770                Filadélfia    1    1
4     TO            171370  Monte Santo do Tocantins    1    1
...   ..               ...                       ...  ...  ...
5565  SP            350090                    Altair   31   12
5566  SC            420550                 Fraiburgo   31   12
5567  SC            420990                   Lontras   31   12
5568  RS            430045                   Alegria   31   12
5569  MT            510140                  Aripuanã   31   12

[5570 rows x 5 columns]>

In [4]:
print(f"O conjunto de dados possui {df.shape[0]} amostras (linhas) e {df.shape[1]} atributos (colunas).") 
print("\n" + "="*30 + "\n")

print("1. Tipos de Dados e Contagem de Não-Nulos:")
df.info()

print("\n" + "="*30 + "\n")

print("2. Estatísticas Descritivas:")
print(df.describe())

print("\n" + "="*30 + "\n")

print("3. Contagem de Valores Faltantes (df.isna().sum()):")
print(df.isna().sum())

O conjunto de dados possui 5570 amostras (linhas) e 5 atributos (colunas).

==============================

1. Tipos de Dados e Contagem de Não-Nulos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UF                5570 non-null   object
 1   CODIGO_MUNICIPIO  5570 non-null   int64
 2   NOME_MUNICIPIO    5570 non-null   object
 3   DIA               5570 non-null   int64
 4   MES               5570 non-null   int64
dtypes: int64(3), object(2)
memory usage: 217.7+ KB

==============================

2. Estatísticas Descritivas:
       CODIGO_MUNICIPIO          DIA          MES
count       5570.000000  5570.000000  5570.000000
mean      325358.627828    16.261759     7.142908
std        98491.033878     8.982919     3.611703
min       110001.000000     1.000000     1.000000
25%       251212.500000    10.000000     4.000000
50%       314627.500000    16.000000     7.000000
75%       411918.750000    24.000000    11.000000
max       530010.000000    31.000000    12.000000

==============================

3. Contagem de Valores Faltantes (df.isna().sum()):
UF                  0
CODIGO_MUNICIPIO    0
NOME_MUNICIPIO      0
DIA                 0
MES                 0
dtype: int64

In [5]:
path_references = Path(r'C:\Users\Wildn\OneDrive\Área de Trabalho\Ciencia de Dados\references')
colunas_tabela = ['Nome da Variável', 'Tipo', 'Descrição', 'Unidades', 'Valores Faltantes']

data_aniversarios = [
    ['Nome', 'Textual', 'Nome completo do aniversariante.', 'N/A', 'Não (0)'],
    ['Data de Nascimento', 'Data', 'Dia, mês e ano do nascimento.', 'Data', 'Não (0)'],
    ['Idade', 'Numérico Discreto', 'Idade calculada em anos.', 'Anos', 'Sim (alguns nulos)'],
    ['Departamento', 'Categórico', 'Departamento onde a pessoa trabalha.', 'N/A', 'Não (0)'],
    ['Cargo', 'Textual', 'Função ou cargo do aniversariante.', 'N/A', 'Não (0)']
]

df_atributos = pd.DataFrame(data=data_aniversarios, columns=colunas_tabela)
arquivo_saida = path_references / 'Aniversariantes.csv'
df_atributos.to_csv(arquivo_saida, index=False, encoding='utf-8-sig', sep=';')
df_atributos

,Nome da Variável,Tipo,Descrição,Unidades,Valores Faltantes
0,Nome,Textual,Nome completo do aniversariante.,N/A,Não (0)
1,Data de Nascimento,Data,"Dia, mês e ano do nascimento.",Data,Não (0)
2,Idade,Numérico Discreto,Idade calculada em anos.,Anos,Sim (alguns nulos)
3,Departamento,Categórico,Departamento onde a pessoa trabalha.,N/A,Não (0)
4,Cargo,Textual,Função ou cargo do aniversariante.,N/A,Não (0)